<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Microposts</a>
        <button class="navbar-togger" type="button" data-tpggle="cpllapse" data-target="#navbarSupportedContent">
            <span class="navbar-togger-icon"></span>
        </button>
        
        <diV class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-time"><a href="#" class="nav-link">Signup</a></li>
                <li class="nav-time"><a href="#" class="nav-link">Login</a></li>
            </ul>
        </diV>
    </nav>
</header>